#root, html{
  background-color: hsl(218, 57%, 70%, 60%);
}

body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}

.navbar {
  max-width: 220px;
  min-height: 100vh !important;
  background-color: #85a6de;
  align-items: initial !important;
  padding-right: 0 !important;
}

.navbar>.container{
  justify-content: initial !important;
}

.navbar-text{
  font-weight: bold;
  letter-spacing: 0.6rem;
  margin-bottom: 30px;
}

a.navbar-brand{
  margin-right: 0px;
}

.underline{
  border-bottom: 1px solid rgba(255, 255, 255);
}

.sidenav-color:hover, .sidenav-color.active{
  color: darkblue !important;
  font-weight: bold;
}

.form{
  margin: 5vh auto;
}

.login-page{
  margin: 0 auto;
  width: 100vw; 
  height: 100vh;
  background-color: #85a6de;
}

.login-form{
  width: 40vw;
  margin: 0 auto;
}

.login-form h3{
  letter-spacing: .5rem;
  font-weight: 300;
}

.form-label{
  font-weight: bold;
  width: 100%;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.42;
  border-radius: 15px;
}

.canvas{
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(75%, 25%);
}

.face-capture-modal{
  transform: translate(10%, 10%);
}

.face-capture-modal .modal-header {
  border-bottom: 0 none !important;
  font-size: 2rem;

}

.face-capture-modal .modal-footer {
  margin-top: -1px;
  border-top: 0 none !important;
}