#root, html{
  background-color: hsl(218, 57%, 70%, 60%);
}

body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}

.navbar {
  max-width: 230px;
  min-height: 100vh !important;
  background-color: #85a6de;
  align-items: initial !important;
  padding-right: 0 !important;
}

.navbar>.container{
  justify-content: initial !important;
}

.navbar-text{
  letter-spacing: 0.5rem;
  font-size: 1.3rem;
  margin-bottom: 30px;
}

a.navbar-brand{
  margin-right: 0px;
}

.underline{
  border-bottom: 1px solid rgba(255, 255, 255);
}

.sidenav-color:hover, .sidenav-color.active{
  color: darkblue !important;
  font-weight: bold;
}

.nav-link svg{
  position: relative;
  top: -2px;
  margin-right: 15px;
}

.login-page{
  width: 100vw; 
  height: 100vh;
  background-color: #85a6de;
}

.login-box{
  margin: auto 0;
  width: 60vw !important;
  height: 60vh !important;
}

.logo-box{
  background-color: #4e6999;
  flex-basis: 30vw;
  border-radius: 15px 0 0 15px;
}

.form-box{
  background-color: white;
  border-radius: 0 15px 15px 0;
}

.form{
  margin: 0 auto;
}

.form-label{
  font-weight: bold;
  width: 100%;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.42;
  border-radius: 15px;
}

.canvas{
  position: fixed;
  top: 0;
  left: 0 ;
  transform: translate(75%, 25%);
}

.attendance-taking{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#captureCanvas{
  transform: translateY(100%);
}

.face-capture-modal{
  transform: translate(10%, 10%);
}

.face-capture-modal .modal-header {
  border-bottom: 0 none !important;
  font-size: 1.5rem;

}

.face-capture-modal .modal-footer {
  margin-top: -1px;
  border-top: 0 none !important;
}

.scroll{
  height: 50vh;
  padding: 10px 15px;
  border-radius: 10px;
  background-color: #85a6de;
  overflow: auto;
}

.tableBtns {
  width: 60px;
}

.error{
  font-size: 3rem;
  margin: 40vh auto;
  text-align: center;
}

.selection {
  width: 100px;
}

.spinner{
  margin-top: 25%;
}